@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evitar el desplazamiento horizontal */
}

header {
    background-image: url('warzone-background.jpg'); /* Reemplaza la URL con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 2em 0;
}

header h1, header nav ul li a {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Bordes negros */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

h2 {
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 0.5em;
}

iframe {
    display: block;
    margin: 1em auto;
}

.post {
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding: 1em;
    margin-bottom: 1em;
}

.post h3 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    background-color: #333;
    border: none;
    color: #e0e0e0;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #444;
    border: none;
    color: #e0e0e0;
    cursor: pointer;
}

.bullet-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Permitir la interacción con el contenido debajo */
    z-index: 1; /* Asegurarse de que las balas estén encima del contenido pero no interfieran */
}

.bullet {
    position: absolute;
    top: -50px;
    width: 20px; /* Aumentar el tamaño de la imagen */
    height: 60px; /* Aumentar el tamaño de la imagen */
    background: url('bullet.png') no-repeat center center;
    background-size: contain;
    opacity: 0.9;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh) translateX(10vw);
    }
}
